<%- include('partials/header') %>


    <!-- Movies Section -->
    <div class="section movies">
        <% movies.forEach(function(movie){ %>
            <a  class="movie_poster" href="/movie/<%= movie.id %>"><img src="/<%= movie.image_url %>" alt="poster"></a>
        <% }); %>

    </div>

    <!-- Recent Reviews Section -->
    <div class="section reviews">
        <h2>Recent Reviews</h2>
        <% reviews.forEach(function(review){ %>
            <a href="/review/<%= review.id %>" class="review">
                <h3><%= review.title %></h3>
                <p><%= review.body %></p>
            </a>
            <% }); %>
    </div>

<%- include('partials/footer') %>