<%- include('partials/header') %>

  <!-- Movie Section -->
  <div class="section moviepage">
    <img src="/<%= image_url %>" alt="poster">
    <div>
        <h2>Movie Title: <%= title %></h2>
        <p><strong>Release:</strong> <%= release_date %></p>
        <p><strong>Director:</strong> <%= director %></p>
        <p><strong>Cast:</strong> <%= movie_cast %></p>

        <hr>       
        <p><strong>Rating: </strong> <span class="stars"> &#9733; &#9733; &#9733; &#9733; &#9734;</span></p>
    </div>
</div>

<%- include('partials/footer') %>