<%- include('partials/header') %>

  <!-- Movie Section -->
  <div class="section">
    <div class="moviepage">
    <img src="/<%= image_url %>" alt="poster">
    <div>
        <h2>Movie Title: <%= title %></h2>
        <p><strong>Release:</strong> <%= release_date %></p>
        <p><strong>Director:</strong> <%= director %></p>
        <p><strong>Cast:</strong> <%= movie_cast %></p>
        <!-- External image possibly to demo the csp implementation -->
        <!-- <img src="https://placehold.co/600x400" style="width: 200; height: 200;"> -->
        <hr>       
        <p><strong>Average Rating Across Reviews: </strong> <span class="stars"> <%= rating %></span></p>
    </div>
  </div>
    <hr>
    <div>
      <h2>Reviews</h2>
      <ul>
        <% reviews.forEach(function(review){ %>
          <li>
            <a href="/review/<%= review.id %>">
              <strong><%= review.title %></strong>, by <%= review.review_username %>
            </a>
          </li>
          <% }); %>
      </ul>
    </div>
    <br>
</div>

<%- include('partials/footer') %>