<%- include('partials/header') %>

  <!-- Review Section -->
  <div class="section moviepage">
    <div class="review">
        <h1><%= review_title %></h1>

        <% if (reviewBelongsToSessionUser) {  %>
          <form action="/review/delete" method="post" content-type="application/json">
              <input hidden id="csrf" name="csrfToken" value="<%= csrf_token %>">
              <input hidden name="id" id="id" value="<%= review_id %>">
              <button id="delete_review_button" class="navbar_link delete_button" type="submit">Delete This Review</button>
          </form>
          
      <% } %>

        <p>Review for: <a href="/movie/<%= movie_id %>"><%= movie_title %></a> by user: <a href="/user/<%= review_userid %>"><%= review_username %></a></p>
        
        <%= review_body %>
      
        <hr>       
        <p><strong>Rating: </strong> <span class="stars"> <%= rating %> </span></p>
    </div>
</div>

<%- include('partials/footer') %>