<%- include('partials/header') %>


    <!-- search results Section -->
    <div class="section">
        <h1>Results for <em><%= query %></em>:</h1>
        <% if(!results.length){ %>
            <p>No Results found.</p>
          <% } %> 
        <ul>
        <% results.forEach(function(result){ %>
            <li>
                <a href="<%= result.url %>" class="">
                        <strong><%= result.type %>:</strong> <%= result.name %>
                </a>
            </li>
            <% }); %>
        </ul>
    </div>

   

<%- include('partials/footer') %>